.chatList_content li {
	margin-top : 10px;
}
.chatList_content li[ispostbyself="true"] {
	text-align : right;
}
.chatList_content li[ispostbyself="true"] > aside {
	float : right;
}
.chatList_content li[ispostbyself="true"] figure {
	padding : 0 15px 0 0;
}
.chatList_content li[ispostbyself="true"] .message_bg {
	right : 15px;
	left : 0;
	opacity : 0.5;
}
.chatList_content li[ispostbyself="true"] .message_bg > span {
	border-left : 12px solid transparent;
	border-right : 0 none;
	left : auto;
	right : -12px;
}
.chatList_content > dl {
	text-align : center;
	margin-top : 45px;
}
.chatList_content > dl > dt {
	display : inline-block;
	padding : 0 5px;
}
.chatList_content > dl > dd {
	text-align : left;
	margin-top : 10px;
}
.chatList_message figure {
	padding-left : 15px;
	position : relative;
	min-width : 125px;
	max-width : 80%;
	text-align : left;
}
.chatList_message figcaption {
	min-height : 38px;
	padding : 8px 10px;
}
.chatList_message[action="voice"] figcaption {
	padding : 8px 15px;
}
.chatList_message figcaption > span {
	word-break : break-word;
	vertical-align : bottom;
	display : block;
}
.chatList_message span > img {
	display : inline-block;
	margin : 0 5px;
}
.chatList_message figcaption > a {
	height : 22px;
	width : 100%;
	text-indent : -11px;
	display : inline-block;
	background-image : -webkit-linear-gradient(top, transparent 10px, rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0.3) 12px, transparent 12px);
	border-color : #fff;
}
.chatList_message figcaption > img {
	max-width : 100%;
	margin : 0 auto;
}
.chatList_message figcaption button {
	height : 22px;
	width : 22px;
	border-radius : 22px;
	border : 0 none;
	position : relative;
	background : url(../image/width24.png) 0 -725px no-repeat;
}
.chatList_message a.playing > button {
	background : url(../image/width24.png) 0 -700px no-repeat;
}
.chatList_message a.downloading > button {
	background-position : 0 -950px;
	-webkit-animation : voiceDownloading steps(14) 1s infinite;
}

@-webkit-keyframes voiceDownloading {
	from {
		-webkit-transform : rotate(0deg);
	}
	to {
		-webkit-transform : rotate(360deg);
	}
}

.chatList_message:not([action="text"]) figcaption > span,
.chatList_message:not([action="voice"]) figcaption > a,
.chatList_message:not([action="image"]) figcaption > img {
	display : none;
}
.chatList_message .message_bg {
	position : absolute;
	top : 0;
	bottom : 0;
	left : 15px;
	right : 0;
	z-index : -1;
	opacity : 0.8;
}
.chatList_message .message_bg > span {
	width : 0;
	height : 0;
	display : block;
	background-color : inherit;
	border-right : 12px solid transparent;
	border-bottom : 5px solid #f7f7f7;
	border-top : 5px solid #f7f7f7;
	position : absolute;
	top : 15px;
	left : -12px;
}
.chatList_message nav {
	border-top : 1px solid rgba(255, 255, 255, 0.7);
	position : relative;
}
.chatList_message nav > button {
	width : 60px;
	background-color : transparent;
	border : 0 none;
	border-right : 1px solid rgba(255, 255, 255, 0.7);
	height : 26px;
	position : absolute;
	top : 0;
	left : 0;
}
.chatList_message.morePraised nav > button,
.chatList_content[isleader="false"] .chatList_message nav > button {
	display : none;
}
.chatList_message.morePraised .chatList_praise,
.chatList_content[isleader="false"] .chatList_message .chatList_praise {
	text-indent : 16px;
}
.chatList_message.morePraised .chatList_praise > p {
	height : auto;
}
.chatList_message.morePraised .chatList_praise > p,
.chatList_content[isleader="false"] .chatList_praise > p {
	text-indent : 52px;
}
.chatList_message[praisedbyself] .chatList_praise > button {
	background-position : 0 -775px;
}
.chatList_message.morePraised .chatList_praise > sub {
	-webkit-transform : rotate(180deg);
}
.chatList_praise {
	min-height : 26px;
	text-indent : 68px;
	line-height : 26px;
	width : 100%;
}
.chatList_praise > button {
	height : 26px;
	width : 34px;
	text-align : center;
	text-indent : 16px;
	line-height : 14px;
	padding : 6px 2px;
	border : 0 none;
	background : url(../image/width24.png) 0 -750px no-repeat content-box content-box;
}
.chatList_praise > p {
	display : block;
	min-height : 26px;
	height : 26px;
	margin-top : -26px;
	text-indent : 104px;
	padding : 0 5px;
	overflow : hidden;
}
.chatList_praise > p:empty + sub {
	display : none;
}
.chatList_praise > sub {
	width : 5px;
	height : 9px;
	display : block;
	position : absolute;
	background : url(../image/width12.png) 0 -165px no-repeat;
	bottom : 2px;
	right : 3px;
}
.chatList_praise > sub > button {
	display : block;
	background-color : transparent;
	border : 5px solid transparent;
	box-sizing : content-box;
	margin : -5px;
	width : 100%;
	height : 100%;
}
.chatList_praise > p > a {
	margin : 3px;
}
.chatList > footer {
	position : fixed;
	left : 0;
	bottom : 0;
	width : 100%;
	background-color : #564d48;
}
.chatList > footer > * {
	padding : 5px;
}
.chatList_input {
	height : 40px;
}
.chatList_input * {
	height : 100%;
}
.chatList_input * {
	border : 0 none;
}
.chatList_input button {
	width : 30px;
	background : transparent url(../image/width24.png) no-repeat content-box content-box;
}
.chatList_input > button {
	padding : 4px 8px;
	background-position : 0 -675px;
}
.chatList_input.voice > button {
	padding : 7px 5px;
	background-position : 0 -600px;
}
.chatList_input > p {
	height : 30px;
	position : absolute;
	left : 48px;
	right : 75px;
}
.chatList_input > p > * {
	width : 100%;
}
.chatList_input > p > button {
	background-image : none;
	background-color : #fff;
}
.chatList_input > p > button.recording {
	background-color : #e33;
	color : #fff;
}
.chatList_input:not(.voice) > p > button {
	display : none;
}
.chatList_input > p > input {
	padding : 5px;
}
.chatList_input.voice > p > input {
	display : none;
}
.chatList_input > aside {
	float : right;
}
.chatList_input > aside > button {
	padding : 5px;
}
.chatList_input > aside > button:first-child {
	background-position : 0 -625px;
}
.chatList_input > aside > button:last-child {
	background-position : 0 -650px;
	overflow : hidden;
}
.chatList_input > aside input {
	width : 30px;
	height : 30px;
	margin : -5px;
	opacity : 0;
}
.chatList_smilies {
	display : none;
}
.chatList_smilies .navigator {
	height : 146px;
	margin : 10px 0;
	background-color : transparent;
}
.chatList_smilies .navigator > nav {
	height : 120px;
}
.chatList_smilies .navigator > aside {
	height : 26px;
}
.chatList_smilies .navigator button {
	border : 0 none;
	background-color : transparent;
}
.chatList_smilies .navigator button[idx] {
	background-color : #fff;
}
.chatList_smilies li[action="BaoPiQiSmilies"] {
	width : 200%;
}
.chatList_smilies li[action="BaoPiQiSmilies"] > button {
	width : 10%;
	min-width : 60px;
}
.chatList_smilies li[action="BaoPiQiSmilies"] img {
	margin : 0 auto;
	background-color : rgba(150, 150, 150, 0.8);
	width : 50px;
	height : 60px;
}
.chatList_smilies figcaption {
	text-align : right;
}
.chatList_smilies figcaption > button {
	width : 30px;
	height : 30px;
	float : left;
	border : 3px solid #362a24;
	margin-right : 5px;
	background : #362a24 url(../../common/image/width24.png) 2px -1173px no-repeat content-box content-box;
}
.chatList_smilies figcaption > button[action="0"],
.chatList_smilies figcaption > button[action="1"] {
	float : none;
	margin : 0 0 0 5px;
}
.chatList_smilies figcaption > button[action="0"] {
	background-position : 1px -1193px;
}
.chatList_smilies figcaption > button[action="1"] {
	background-position : 2px -1218px;
}

#mask[action="imageBox"] > article {
	
}
#mask[action="voiceRecording"] {
	top : 50%;
	left : 50%;
	right : auto;
	bottom : auto;
	height : 60px;
	width : 40px;
	margin : -20px -15px;
	background-color : rgba(255, 255, 255, 0.8);
	border-radius : 5px;
}
#mask[action="voiceRecording"] > article {
	width : 26px;
	height : 50px;
	background : transparent url(../image/width36.png) no-repeat 0 0;
	border : 0 none;
	margin : 5px 7px;
	padding : 0;
	position : static;
	display : block !important;
}