.main {
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	overflow : hidden;
}
.main > div {
	position : absolute;
	width : 100%;
	top : 40px;
	bottom : 0;
	display : none;
}
.main > div > * {
	display : none;
	width : 100%;
	position : absolute;
	bottom : 0;
	top : 0;
}

#titleBar {
	height : 40px;
	position : relative;
	z-index : 3;
	display : none;
}
#titleBar button {
	border : 0 none;
	display : block;
}
#titleBar > nav > button {
	width : 36px;
	height : 40px;
	padding : 10px 13px;
	background : url(../image/width24.png) no-repeat 0 -1055px content-box content-box;
}
#titleBar > p {
	text-indent : 5px;
	height : 100%;
	font-size : 14px;
}
#titleBar strong {
	line-height : 40px;
}
#titleBar > ul {
	float : right;
	height : auto;
}
#titleBar > ul button {
	height : 40px;
	width : 40px;
	border : 8px solid transparent;
	background-color : transparent;
	background-clip : content-box !important;
	background-origin : content-box !important;
}
#titleBar button[action~="submit"] {
	border-color : #ffc000;
	background : #ffc000 url(../image/width24.png) no-repeat 3px -248px;
}

#mask {
	display : none;
	position : absolute;
	top : 0;
	left : 0;
	bottom : 0;
	right : 0;
	z-index : 4;
	background-color : rgba(0, 0, 0, 0.7);
}
#mask > *:empty {
	display : none;
}
#mask > article {
	position : absolute;
	left : 0;
	top : 0;
	right : 0;
	bottom : 0;
}

.projectColor_orange, .projectColor_0 {
	background-color : #f1af0f;
	border-color : #f1af0f !important;
}
.projectColor_tan, .projectColor_1 {
	background-color : #e26917;
	border-color : #e26917 !important;
}
.projectColor_cyan, .projectColor_2 {
	background-color : #39bead;
	border-color : #39bead !important;
}
.projectColor_blue, .projectColor_3 {
	background-color : #00b0d6;
	border-color : #00b0d6 !important;
}
.projectColor_henna, .projectColor_4 {
	background-color : #ce312d;
	border-color : #ce312d !important;
}
.projectColor_purple, .projectColor_5 {
	background-color : #867bc8;
	border-color : #867bc8 !important;
}
.projectColor_gray, .projectColor_6 {
	background-color : #6f6f6f;
	border-color : #6f6f6f !important;
}

.largeAvatarPanel, .normalAvatarPanel {
	width : 64px;
	height : 64px;
	border-radius : 64px;
	overflow : hidden;
	border : 1px solid #a1a1a1;
}
.largeAvatarPanel > img {
	width : 62px;
	height : 62px;
	border-radius : 62px;
	border : 2px solid #fff;
}
.normalAvatarPanel {
	width : 48px;
	height : 48px;
	border-radius : 48px;
}
.normalAvatarPanel > img {
	width : 46px;
	height : 46px;
	border-radius : 46px;
	border : 2px solid #fff;
}
.smallAvatarPanel > img {
	width : 20px;
	height : 20px;
	border-radius : 20px;
}

#mask .userIndexList aside {
	bottom : 110px;
}

#createFirstProject > section li, #addProject > * {
	height : 45px;
	line-height : 25px;
	padding : 10px;
	overflow : hidden;
	background-color : #fff;
}
#createFirstProject > section button, #addProject > section button {
	width : 22px;
	height : 22px;
	border-radius : 22px;
	border : 0 none;
	margin-right : 10px;
}
#createFirstProject > section button:last-child, #addProject > section button:last-child {
	margin-right : 0;
}
#createFirstProject > section button.selected, #addProject > section button.selected {
	width : 30px;
	height : 30px;
	padding : 3px;
	border-radius : 30px;
	background-clip : content-box;
	border : 1px solid;
	margin : -4px 6px -4px -4px;
}
#createFirstProject > section button.selected:last-child, #addProject > section button.selected:last-child {
	margin-right : -4px;
}

[attachmenttype] {
	height : 34px;
	width : 34px;
	overflow : hidden;
	margin : 2px;
}
[attachmenttype]:not([attachmenttype="voice"]) {
	border : 0 none;
}
[attachmenttype="voice"] {
	background : url(../image/width24.png) 0 -575px no-repeat content-box content-box;
	padding : 4px;
}
[attachmenttype="voice"] > img {
	display : none;
}
[attachmenttype] > img {
	width : 100%;
	height : 100%;
}

.inputing {
	position : fixed !important;
	top : 60px !important;
	bottom : auto !important;
	left : 50px !important;
	right : 50px !important;
	width : auto !important;
	height : 70px !important;
	line-height : 40px !important;
	font-size : 40px !important;
	border : 0 none !important;
	background-color : #fff !important;
	z-index : 5 !important;
	outline : 5000px solid rgba(0, 0, 0, 0.3) !important;
}